<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contracts</title>
</head>
<body>
<h1>Contract List</h1>
<table>
    <tr>
        <th>ID</th>
        <th>InitDate</th>
        <th>EndDate</th>
    </tr>
    <tr th:each="contract:${contracts}">
        <td th:text="${contract.id}"></td>
        <td th:text="${contract.initDate}"></td>
        <td th:text="${contract.endDate}"></td>
    </tr>
</table>
</body>
</html>