<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SubCategories</title>
</head>
<body>
<h1>SubCategory List</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Code</th>
    </tr>
    <tr>
        <td th:text="${subCategory.id}"></td>
        <td th:text="${subCategory.name}"></td>
        <td th:text="${subCategory.code}"></td>
    </tr>
</table>
</body>
</html>